# Ignore all .log files
*.log

# Ignore temporary files created by editors like Vim or Emacs
*~
.*.swp

# Ignore node_modules (for Node.js projects)
node_modules/

# Ignore Python-specific files (for Python projects)
__pycache__/
*.py[cod]

# Ignore Java class files (for Java projects)
*.class

# Ignore compiled files (for C/C++ projects)
*.o
*.out
*.exe

# Ignore MacOS related files
.DS_Store

# Ignore Windows related files
Thumbs.db

# Ignore IDE/editor specific directories/files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore environment variables
.env
.env.local

# Ignore build/ or dist/ directories (common for different languages)
build/
dist/
out/

# Ignore dependencies lock files (if you don't want them in your repo)
yarn.lock
package-lock.json