.connect-us-section {
  background-color: #f9f9f9;
  border-radius: 1.5rem;
  padding: 3rem;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.connect-us-section:hover {
  transform: scale(1.01);
}

.connect-us-form {
  max-width: 550px;
}

.connect-us-form h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

.connect-us-form p {
  font-size: 1rem;
  color: #555;
}
.image-side {
  height: 350px;
  border-radius: 1rem;
  background-image: url(../../../../assets/images/colleagues-learning-together-group-study.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

